












































































































/******************** SECCION PORTAFOLIO **********************/
.page-box {
  background-color: white;
}

.title-portafolio {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  color: gray;
}

.page-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
  "img-cabin img-cake img-circus"
  "img-game img-safe img-submarine";
  justify-items: stretch;
  justify-items: center;
  margin: 50px 100px 50px 100px;
}

img {
  object-fit:contain ;
  width: 100%;
}