html {
  scroll-behavior: smooth;
}

#portafolio #about #contact {
  
  scroll-margin-top: 70px;
}

header {
  width: 100%;
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  color: white;  
}
nav {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr auto;
}
a {
  margin: 10px;
  top: 20px;
  color: white;
}
body {
  margin-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  *background-color: aqua;
}

.home_container {
  padding: 7%;
  background-color: #18bc9c;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.title {
  font-size: 70px;
}

.portafolio_container{
  margin: 7%;
justify-content: center;
}
.portafolio_container__img{
  margin: 7%;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
  row-gap: 2%;
  column-gap: 2%;
}

.portafolio_container__img > img {
  padding: 0px;
  margin: 0px;
}
.portafolio_container > h1 {
  text-align: center;
  font-size: 50px;
}

.fas fa-star {
  height: 10px;
  width: 10px;
}

.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  background: white;
}
.contact_container > h1 {
  font-size: 40px;
  *padding: 0px 0px 0px 0px;
  margin: 30px 0px 10px 0px;
  color: rgb(37, 37, 37);
}
.fa-star {
  color: gray;
  padding: 10px 0px 10px 0px;
}
.formContact {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: "Montserrat", sans-serif;
}
.formContact > input,
.formContact > textarea {
  padding: 20px 5px 10px 5px;
  font-size: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.formContact::placeholder {
  color: gray;
}
.formContact > button {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #24ccbe;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 35px;
  width: 55px;
  margin: 20px 0px 0px 0px;
}

.about_container {
  background-color: #18bc9c;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}
.title {
  padding-top: 40px;
  font-size: 50px;
}
.text_about {
  column-count: 2;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
.first {
  margin-left: 100px;
}
.second {
  margin-right: 200px;
}
.text_about p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  padding: 0 20px;
  text-align: justify;
  width: 80%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.about_container button {
  background-color: #18bc9c;
  color: white;
  border-radius: 2px;
  border: 2px solid white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: 80px;
  font-size: 40px;
  margin-top: 40px;
}
