* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.portfolio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.head-portfolio-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.head-portfolio {
    font-weight: bold;
    color: #2C3E50
}
.head-underlined::after {
    content: '\A  —— ★ ——';
    white-space: pre
}
.img-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.set-img {
    width: 30%;
    padding: 20px;
    border-radius: 25px;
}